html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
  text-align: justify;
  line-height: 27px;
}
img {
  width: 100%;
}

body {
  padding: 0px;
  margin: 0px;
}

.retract {
  background-color: white;
  padding-top: 0px;
  padding-bottom: 0px;
}

.big {
  padding-top: 40px;
  padding-bottom: 40px;
}

.tablo {
  margin: 80px;
}

.tabloentete {
  padding: 90px;
  background-size: cover;
}

nav {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  position: fixed;
  background-color: white;
  z-index: 3;
}
nav ul {
  list-style: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: #555;
}

nav.shift ul li a {
  position: relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #444444;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: #ffcf3d;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

p {
  color: white;
  font-size: 18px;
  font-weight: 700px;
  letter-spacing: 1.5px;
}

h1 {
  color: white;
  font-size: 25px;
  font-weight: 800;
  padding-bottom: 30px;
}

table {
  padding: 40px;
  vertical-align: middle;
}
